.container {
    width:100%;
    padding: 1rem
}
@media (min-width: 768px) {
    .section-title { font-size: 2.5rem; }
    .quick-nav { gap: 40px; }
    .nav-icon { width: 100px; height: 100px; }
    .ofertas-container { flex-wrap: nowrap; gap: 50px; }
    .oferta img { width: 250px; height: 250px; }
    .oferta_1, .oferta_2 { font-size: 1.5rem; }
}

@media (min-width: 1024px) {
    body {
        max-width: 1200px;
        margin: 0 auto; 
        box-shadow: 0 0 10px rgba(0,0,0,0.1); 
 }
}